@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

$purple: #9564aa;
$black: #000000;
$white: #ffffff;
$gold: #ffcf2d;
$card-border: #9564aa;
$premium-bg: #684677;
$long-card-border: #aa6464;
$sale-card-bg: #c15ca1;

$font: "Ubuntu", sans-serif;
